body {
    background-color: #f91905 !important;
}


.hide-always {
    display: none;
}

.card-title {
    color: #057ff9 !important;
}

  
  @media (max-width: 768px) {
  .hide-on-mobile {
    display: none;
  }
}