.colors {
    background-color: #8b68ff; /* Red */
    background-color: #ffa07a; /* Orange */
    background-color: #ffe66c; /* Yellow */
    background-color: #34c760; /* Green */
    background-color: #007bff; /* Blue */
    background-color: #6c5ce7; /* Indigo */
    background-color: #9824aa; /* Violet */
    background-color: #000; /* Violet */
}

.hide-always {
    display: none;
}

.btn-secondary {
    background-color: #767676; /* Indigo */
    margin-left: 5px;
    margin-top: 10px;
    padding: 5px 10px;
}

.btn-enter {
    margin-right: 10px;
    margin-left: 10px;

}

@media (max-width: 768px) {
.hide-on-mobile {
    display: none;
    }

.container {
    padding-top: 1px !important;
    }
}

