.hide-always {
    display: none;
}

.btn-secondary {
    background-color: #767676; /* Indigo */
    margin-left: 5px;
    margin-top: 10px;
    padding: 5px 10px;
}

.btn-enter {
    margin-right: 10px;
    margin-left: 10px;

}

@media (max-width: 768px) {
.hide-on-mobile {
    display: none;
    }

.container {
    padding-top: 1px !important;
    }
}

