<!-- Rules -->
<div class="card card-spacer">
    <div class="card-body">
        <h3 class="text-center mb-4"><i class="fa-solid fa-clipboard-list"></i></i> Scoring</h3>
        <table class="table table-striped table-bordered text-center">
            <thead class="table-dark">
                <tr>
                    <th>Dice</th>
                    <th>1x</th>
                    <th>3x</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="fas fa-dice-one"></i>  A</td>
                    <td>100 pts</td>
                    <td>700 pts</td>
                </tr>
                <tr>
                    <td><i class="fas fa-dice-six"></i>  K</td>
                <td>0 pts</td>
                    <td>600 pts</td>
                </tr>
                <tr>
                    <td><i class="fas fa-dice-five"></i>  Q</td>
                    <td>50 pts</td>
                    <td>500 pts</td>
                </tr>
                <tr>
                    <td><i class="fas fa-dice-four"></i>  J</td>
                    <td>0 pts</td>
                    <td>400 pts</td>
                </tr>
                <tr>
                    <td><i class="fas fa-dice-three"></i>  10</td>
                    <td>0 pts</td>
                    <td>300 pts</td>
                </tr>
                <tr>
                    <td><i class="fas fa-dice-two"></i>  9</td>
                    <td>0 pts</td>
                    <td>200 pts</td>
                </tr>
            </tbody>
        </table>

        <table class="table table-striped table-bordered text-center mt-4">
            <thead class="table-dark">
                <tr>
                    <th>Condition</th>
                    <th>Points</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><i class="fas fa-plus-circle"></i> 5x</td>
                    <td>+1000 pts</td>
                </tr>
                <tr>
                    <td><i class="fas fa-play"></i> To start</td>
                    <td>350 pts</td>
                </tr>
                <tr>
                    <td><i class="fas fa-dice"></i> Normal</td>
                    <td>250 pts</td>
                </tr>
                <tr>
                    <td><i class="fas fa-ban"></i> 3x Fault</td>
                    <td>Lose your round</td>
                </tr>
                <tr>
                    <td><i class="fas fa-exclamation-circle"></i> 3x 0 pts</td>
                    <td>Lose your last score</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>